* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #111;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 10px 0px;
}

.navbar .nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
    background-color: #222;
    padding: 20px 70px;
    border-radius: 15px;
    position: fixed;
    margin-top: 50px;
    box-shadow: #5c5c5c 0 0 30px 5px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.navbar .nav-links a:hover {
    border: 2px solid #222;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 40px 60px;
}

.hero-text p {
    font-size: 2.5rem;
}

.hero-text h1 {
    font-size: 4rem;
    margin: 0.5rem 0;
}

.hero-text .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.hero-text .btn:hover {
    border: 0px;
    font-size: 19px;
    box-shadow: rgba(142, 142, 142, 0.25) 0px 0px 9px 7px;
    transition: all 1s;
}

.hero-image .profile-pic-placeholder {
    width: 304px;
    height: 304px;
    border-radius: 50%;
    border: 2px solid white;
}

.hero-image .profile-pic-placeholder img:hover {
    box-shadow: rgba(142, 142, 142, 0.25) 0px 0px 90px 70px;
    transition: box-shadow 1s;
}

.hero-image .profile-pic-placeholder img {
    width: 300px;
    height: 300px;
    border-radius: 55%;
}

/* About and Skills */
.about-skills {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    padding-top: 70px;
}

.box {
    width: 45%;
    /* height: 170px; */
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;
}

.skills-container {
    display: flex;
    gap: 100px;
    color: white;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.skills-list {
    list-style-type: circle;
    margin-left: 20px;
}

.skills-list li:hover {
    list-style-type: disc;
}

.box h2 {
    margin-bottom: 1rem;
}

.box:hover {
    box-shadow: rgba(142, 142, 142, 0.25) 0px 0px 40px 30px;
    transition: box-shadow 1s;
}

/* Projects */
.projects {
    padding: 2rem;
    text-align: center;
}

.projects h2 {
    font-size: 2.5rem;
    margin: 30px 0;
}

.project-list {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 2.7rem;
}

.project-list::-webkit-scrollbar {
    display: none;
}

.project-card {
    background-color: #222;
    width: 30%;
    height: 400px;
    border-radius: 10px;
    padding: 1rem;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.project-card a {
    text-decoration: none;
    color: white;
}

.project-card:hover {
    background-color: #111;
    transition: background-color 1s;
    border: 1px solid white;
}

.project-card img {
    width: 90%;
    height: 150px;
    border-radius: 10px;
    margin: 30px 0;
}

/* Contact */
.contact {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #1a1a1a;
}

.contact-form {
    width: 60%;
}

.contact-form h2 {
    margin: 30px 0;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.contact-info {
    width: 35%;
}

.contact-info h2 {
    margin: 30px 0;
}

.sendBtn {
    margin-left: 72%;
    font-size: large;
    padding: 3px 9px;
    border-radius: 10px;
    background-color: #222;
    color: white;
    border: 2px solid #5c5c5c;
}

.social-icons {
    display: flex;
    gap: 70px;
    margin: 3rem 0;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

.circle img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.footer-bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin: 50px 0;
}

@media(max-width:700px) {
    .navbar .nav-links {
        font-size: 20px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }
}

@media(max-width:550px) {
    .navbar .nav-links {
        padding: 25px 10px;
        font-size: 20px;
        border-radius: 0px;
        position: sticky;
        margin-top: -10px;
        gap: 1rem;
        margin-bottom: -30px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
        margin-bottom: -30px;
    }

    .about-skills {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        width: 100%;
        margin-top: 2rem;
    }

    .skills-container {
        display: grid;
        gap: 20px;
    }

    .project-card {
        width: 45%;
        height: 220px;
        font-size: 15px;
    }

    .project-card p {
        display: none;
    }

    .project-card img {
        width: 90%;
        height: 100px;
    }

    .project-list {
        gap: 1.5rem;
    }

    .sendBtn {
        margin-left: 9rem;
    }

    .hero {
        margin-top: 100px;
    }

    .social-icons {
        gap: 4.5rem;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-form {
        width: 100%;
    }

    .contact-info {
        width: 100%;
    }

    .contact-info h2 {
        font-size: 45px;
    }

    .footer-bar {
        margin-bottom: -10px;
    }
}